body{
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    background-color: #5bd3ed;
}
#chuBiXaoTron button {
    font-size: 20px;
    margin: 5px;
    padding: 10px;
}
#chuDaChon {
    font-size: 24px;
    margin: 20px;
    min-height: 40px;
}
#ketQua {
    font-weight: bold;
    margin-top: 10px;
}
#nutChucNang {
    margin-top: 10px;
}
#manHinhChao button, diemText{
    padding: 15px 30px;
    font-size: 22px;
    background-color: #0077cc;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
#manHinhChao {
    display: block;
}
#khungGame, #nutCapTiep,#nutChoiLai {
    display: none;
}
#chuDaChon{

}
